@font-face {
    font-family: 'asd';
    src: url('../fonts/q1/PTSans-Caption.eot');
    src: local('PT Sans Caption'), local('PTSans-Caption'),
        url('../fonts/PTSans-CaptionBold.eot') format('embedded-opentype'),
        url('../fonts/PTSans-Caption.woff2') format('woff2'),
        url('../fonts/PTSans-Caption.woff') format('woff'),
        url('../fonts/PTSans-Caption.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Основной стиль страницы */
body {
    font-family: 'PT Sans Caption', sans-serif; /* Используем созданный шрифт */
    color: black;
    
}

.upmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: brown;
    background-color: darkseagreen;
    border-radius: 20%;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease forwards; 
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.upmenu a {
    color: black; 
}

/* Стили для контейнера кнопок */
.auth-buttons {
    display: flex;
    justify-content: flex-end; /* кнопки выравниваются справа */
}

/* Стили для кнопок */
.auth-buttons a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

.auth-buttons a:hover {
    background-color: #0056b3; 
}